Binaries
DerivedDataCache
Intermediate
Saved
Build

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

###################################
# Arquivos Gerados pelo JetBrains Rider #
###################################
# Diretório de Cache
.idea

# Arquivos de Solução e Projeto
*.sln
*.csproj
*.sln.DotSettings
*.sln.DotSettings.user